/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
}


#sidebar {
    transition: transform 0.3s ease-in-out;
}



@media (max-width: 767px) {
    #sidebar.mobile-hidden {
        transform: translateX(-100%);
    }
}



/* Smooth hover transition globally */
.smooth {
    transition: all 0.25s ease;
}

/* Premium scrollbar */
.scroll-area::-webkit-scrollbar {
    width: 6px;
}

.scroll-area::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 9999px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}